.profile-form {
    display: grid;
    gap: 20px;
    font-family: Arial, sans-serif;
    padding: 20px;
}

.form-section {
    display: flex;
    flex-direction: column;
}

.form-actions {
    grid-column: 2 / -1;
    display: grid;
    gap: 10px;
}

@media (width >=768px) {
    .profile-form {
        grid-template-columns: 1fr 1fr;
    }
}