<form class="profile-form" [formGroup]="personForm" (ngSubmit)="onSubmit()">
    <div class="form-section">
        <label class="form-group">
            <span class="required">Nombre</span>
            <input id="name" type="text" placeholder="Alvaro..." formControlName="nombre"
                [classList]="personForm.get('nombre')?.invalid && errorSubmitted ? 'invalid': ''" required>
        </label>

        <label class="form-group">
            <span class="required">Apellido</span>
            <input id="name" type="text" placeholder="Maguiña..." formControlName="apellido"
                [classList]="personForm.get('apellido')?.invalid && errorSubmitted ? 'invalid': ''" required>
        </label>

        <label class="form-group">
            <span class="required">Género</span>
            <select name="gender" id="gender"
                [classList]="personForm.get('genero')?.invalid && errorSubmitted ? 'invalid': ''"
                (change)="changeDocumentType($event, 'genero')" formControlName="genero" required>
                <option [value]="null" selected disabled>Seleccionar</option>
                <option [value]="true">Masculino</option>
                <option [value]="false">Femenino</option>
            </select>
        </label>

        <label class="form-group">
            <span class="required">Tipo documento</span>
            <select name="document" id="document" formControlName="tipo_documento"
                [classList]="personForm.get('tipo_documento')?.invalid && errorSubmitted ? 'invalid': ''"
                (change)="changeDocumentType($event, 'tipo_documento')" required>
                <option value="null" selected disabled>Seleccionar</option>
                <option value="true" selected>DNI</option>
                <option value="false">Otros</option>
            </select>
        </label>

        <label class="form-group">
            <span class="required">Nro. Documento</span>
            <input id="dni" type="text" placeholder="77777777" formControlName="ndoc_documento"
                [classList]="personForm.get('ndoc_documento')?.invalid && errorSubmitted ? 'invalid' : ''" required>
        </label>

        <label class="form-group">
            <span>Fecha de Nacimiento</span>
            <input id="birthDate" type="date" formControlName="fecha_nac">
        </label>

        <label class="form-group">
            <span>Lugar de Nacimiento</span>
            <input id="birthPlace" type="text" placeholder="Hospital de vitarte" formControlName="lugar_nac">
        </label>

        <label class="form-group">
            <span>Estado Civil</span>
            <select name="maritalStatus" id="maritalStatus" formControlName="estado_civil">
                <option [value]="null" selected disabled>Seleccionar</option>
                <option value="soltero">Soltero</option>
                <option value="casado">Casado</option>
                <option value="divorciado">Divorciado</option>
            </select>
        </label>

        <label class="form-group">
            <span>Número de Hijos</span>
            <input id="childrenCount" type="number" placeholder="4" min="0" formControlName="n_hijos">
        </label>
    </div>

    <div class="form-section">
        <label class="form-group">
            <span>Correo Electrónico</span>
            <input id="email" type="email" placeholder="example@gmail.com" formControlName="correo">
        </label>

        <label class="form-group">
            <span>Teléfono</span>
            <input id="phone" type="number" placeholder="999654542" formControlName="telefono">
        </label>

        <label class="form-group">
            <span>Dirección</span>
            <input id="address" type="text" placeholder="Mz C. Lt14 La era" formControlName="domicilio">
        </label>

        <label class="form-group">
            <span>Residencia</span>
            <input id="address" type="text" placeholder="Lugar temporal donde vive" formControlName="residencia">
        </label>

        <label class="form-group">
            <span>Referencia</span>
            <select name="reference" id="reference" formControlName="referencia">
                <option [value]="null" selected disabled>Seleccionar</option>
                @for (ref of referencias; track $index) {
                <option [value]="ref">{{ref}}</option>
                }
            </select>
        </label>

        <div class="list-form-group">
            <span class="title-secondary">Otros Teléfonos</span>
            <div class="list-form" formArrayName="telefonosDTO">
                @if (telefonos!== undefined) {
                @if (telefonos.length > 0) {
                <div class="list-element" *ngFor="let telefono of telefonos.controls; let i = index"
                    [formGroupName]="i">
                    <input type="number" placeholder="999654542" formControlName="telefono">
                    <span class="icon-delete" (click)="eliminarTelefono(i)"></span>
                </div>
                }
                }
            </div>
            <button type="button" class="btn-add" (click)="agregarTelefono()">Agregar teléfono</button>
        </div>
    </div>

    <div class="form-actions">
        <button class="btn btn-primary" type="submit">Guardar</button>
        <button class="btn btn-outline" type="button" (click)="cancel()">Cancelar</button>
    </div>
</form>