<section>
    <main class="primary-section">
        <app-grafico-pagos class="grafico-pagos" [countList]="7" [heightChart]="300"></app-grafico-pagos>
        <div class="container-cards">
            <article class="card-ingreso-total">
                <div>
                    <h4>Ingreso total</h4>
                    <h3>s/10,000.00</h3>
                    <p>+6% del mes de enero 2021</p>
                </div>
            </article>

            <article class="card-ultimo-ingreso">
                <div>
                    <h4>Ultimo ingreos</h4>
                    <h3>s/800.00</h3>
                    <p>+28% que el mes de enero 2021</p>
                </div>
            </article>

            <article class="card-cant-pacientes">
                <div>
                    <h4>Cant. Pacientes</h4>
                    <h3>800</h3>
                    <p>+1% del mes de enero 2021</p>
                </div>
            </article>

            <article class="card-horas-trabajadas">
                <div>
                    <h4>Horas trabajadas</h4>
                    <h3>753 horas</h3>
                    <p>+10% del mes de enero 2021</p>
                </div>
            </article>
        </div>
    </main>
    <main class="secondary-section">
        <div>
            <h2>Reporte según edades</h2>
        </div>
        <div>
            <h2>Reporte pacientes activos</h2>
        </div>
    </main>
</section>