@import url('./btn.css');

.header_view {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}

.header_view:has(label.input_search) {
    gap: 1rem;
}

.header_view label {
    display: grid;
    grid-template-columns: auto 1fr;
    background-color: var(--java-500);
    overflow: hidden;
    border: 1px solid var(--java-500);
    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
    transition: box-shadow .3s;
    -webkit-transition: box-shadow .3s;
    -moz-transition: box-shadow .3s;
    -ms-transition: box-shadow .3s;
    -o-transition: box-shadow .3s;
}

.header_view label.input_search {
    position: relative;
    padding: 0.5rem 1.25rem;
    background-color: var(--java-50);
    gap: 0.5rem;
    width: -webkit-fill-available;
    max-width: 500px;
    border-color: var(--java-800);
}

.header_view label.input_search::before {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    background-image: url('/shared/icons-header-views.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
}

.header_view label:has(input:focus) {
    box-shadow: 0 0 0 1px var(--java-50), 0 0 0 3px var(--java-600);
}

.header_view label>span {
    user-select: none;
    color: var(--java-50);
    padding: 0.5rem;
    font-size: 0.8rem;
}

.header_view input {
    outline: none;
    border: none;
    font-family: 'Inter Variable', sans-serif;
    background-color: var(--java-50);
    color: var(--java-950);
}

.header_view input::placeholder {
    color: var(--java-500);
}

.header_view label.input_search input {
    width: 100%;
    font-size: 1.25rem;
}

.header_view:not(:has(label.input_search)) input {
    padding: 0.5rem 0.75rem;
}

.btn_add {
    padding: 0.5rem 0.75rem;
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
}

.btn_add::before {
    content: '';
    background-image: url('/shared/icons-header-views.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -24px;
    width: 24px;
    height: 24px;
    display: block;
}