<article>
    <header>
        <div>
            <h3>
                <a routerLink="/home/cliente/hc/diagnostico">Dolor de espalda</a>
                <span class="span_money">100</span>
            </h3>
            <p>Sufrio un dolor de espalda por estar mucho tiempo en la silla chambeando para moises</p>
        </div>
        <label>
            <svg width="24" height="18" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M7.18505 0.721748L4.23874 3.66805L1.29244 0.721748C1.22214 0.651445 1.13868 0.595678 1.04682 0.557631C0.954967 0.519583 0.856517 0.5 0.757094 0.5C0.657671 0.5 0.559222 0.519583 0.467367 0.557631C0.375512 0.595678 0.292051 0.651445 0.221748 0.721748C0.151445 0.792051 0.0956781 0.875512 0.0576305 0.967367C0.019583 1.05922 -7.40758e-10 1.15767 0 1.25709C7.4076e-10 1.35652 0.019583 1.45497 0.0576305 1.54682C0.0956781 1.63868 0.151445 1.72214 0.221748 1.79244L3.7072 5.27789C4.00334 5.57404 4.48174 5.57404 4.77789 5.27789L8.26333 1.79244C8.33373 1.72219 8.38958 1.63875 8.42768 1.54688C8.46579 1.45502 8.4854 1.35655 8.4854 1.25709C8.4854 1.15764 8.46579 1.05917 8.42768 0.967305C8.38958 0.875444 8.33373 0.791999 8.26333 0.721748C7.96719 0.433192 7.4812 0.425599 7.18505 0.721748Z"
                    fill="#EDF7FF" />
            </svg>
            <input type="checkbox" style="display: none;">
        </label>
    </header>
    <ul>
        <li>
            <p>
                <span class="asistencia danger"></span>
                <span class="descripcion">El paciente realizo una sesion de estiramiento de hombros</span>
                <span class="tipo">Consulta</span>
            </p>
            <strong class="fecha">17-02-2024</strong>
        </li>
        <li>
            <p>
                <span class="asistencia close"></span>
                <span class="descripcion">El paciente realizo una sesion de estiramiento de hombros</span>
                <span class="tipo">Consulta</span>
            </p>
            <strong class="fecha">17-02-2024</strong>
        </li>
        <li>
            <p>
                <span class="asistencia close"></span>
                <span class="descripcion">El paciente realizo una sesion de estiramiento de hombros</span>
                <span class="tipo">Consulta</span>
            </p>
            <strong class="fecha">17-02-2024</strong>
        </li>
        <li>
            <p>
                <span class="asistencia danger"></span>
                <span class="descripcion">El paciente realizo una sesion de estiramiento de hombros</span>
                <span class="tipo">Consulta</span>
            </p>
            <strong class="fecha">17-02-2024</strong>
        </li>
        <li>
            <p>
                <span class="asistencia check"></span>
                <span class="descripcion">El paciente realizo una sesion de estiramiento de hombros</span>
                <span class="tipo">Consulta</span>
            </p>
            <strong class="fecha">17-02-2024</strong>
        </li>
    </ul>
</article>