<section>
    <header class="header_view">
        <label class="input_search">
            <input type="text" placeholder="Buscar...">
        </label>
        <button class="btn_add">Nuevo</button>
    </header>
    <main class="container">
        <app-card-cliente (click)="goTo()"></app-card-cliente>
        <app-card-cliente (click)="goTo()"></app-card-cliente>
        <app-card-cliente (click)="goTo()"></app-card-cliente>
        <app-card-cliente (click)="goTo()"></app-card-cliente>
        <app-card-cliente (click)="goTo()"></app-card-cliente>
        <app-card-cliente (click)="goTo()"></app-card-cliente>
        <app-card-cliente (click)="goTo()"></app-card-cliente>
        <app-card-cliente (click)="goTo()"></app-card-cliente>
        <app-card-cliente (click)="goTo()"></app-card-cliente>
        <app-card-cliente (click)="goTo()"></app-card-cliente>
        <app-card-cliente (click)="goTo()"></app-card-cliente>
        <app-card-cliente (click)="goTo()"></app-card-cliente>
    </main>
</section>