section {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 1rem;
}

.container {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, 16rem);
    /* grid-template-rows: repeat(auto-fit, 16rem); */
    justify-content: center;
}