
<div class="container-interno">

  

    <div class="check-nombre" >

        <div class="img-icon" >
            <span class="material-symbols-outlined">
                check
                </span>
        </div>

        <div class="padre-nombre-consulta-botones" >
            <div class="nombre-consulta">
                <div class="nombre-titulo">
                    <h1>Alejandra Rosa Morales  Rodrigues </h1>
                </div>
                <div class="consulta-button">
                    <button class="button-1" >Consulta</button>
                </div>
               
                
            </div>
    
            <div class="div-botones" >
            <button class="button-2">DNI : 8596855</button>
            <button class="button-3">Telefono : 98870623</button>
            <button class="button-4">Correo : Prueba&#64;upeu.upc.de</button>
            <button class="button-5">Edad : 18</button> 
            </div>    
        </div>
        

    </div>

    <div class="div-hora" >
        HORA : 4:00 PM
    </div>
       
    
    </div>
    
