<main>
    <div class="top">
        <article>
            <h4 class="title">s/ 100</h4>
            <p class="description">Monto total s/250</p>
        </article>
    </div>
    <ul>
        <li>
            <strong>s/50</strong><span class="date">17-07-2024</span><span class="icon-delete"></span>
        </li>
        <li>
            <strong>s/50</strong><span class="date">17-07-2024</span><span class="icon-delete"></span>
        </li>
        <li>
            <strong>s/50</strong><span class="date">17-07-2024</span><span class="icon-delete"></span>
        </li>
        <li>
            <strong>s/50</strong><span class="date">17-07-2024</span><span class="icon-delete"></span>
        </li>

    </ul>
    <button>Agregar pago</button>
</main>