<section class="container">
    <app-card-persona></app-card-persona>
    <main>
        <app-grupo-diagnostico></app-grupo-diagnostico>
        <app-grupo-diagnostico></app-grupo-diagnostico>
        <app-grupo-diagnostico></app-grupo-diagnostico>
        <app-grupo-diagnostico></app-grupo-diagnostico>
        <app-grupo-diagnostico></app-grupo-diagnostico>
        <app-grupo-diagnostico></app-grupo-diagnostico>
        <app-grupo-diagnostico></app-grupo-diagnostico>
        <app-grupo-diagnostico></app-grupo-diagnostico>
        <app-grupo-diagnostico></app-grupo-diagnostico>
        <app-grupo-diagnostico></app-grupo-diagnostico>
        <app-grupo-diagnostico></app-grupo-diagnostico>
        <app-grupo-diagnostico></app-grupo-diagnostico>
        <app-grupo-diagnostico></app-grupo-diagnostico>
    </main>
</section>