<nav id="sidebar">
    <app-perfil-usuario></app-perfil-usuario>
    <main id="contenedor-btn">
        <ul>
            <li>
                <a routerLinkActive="activate" routerLink="/home/agenda">
                    <span id="agenda"></span>
                    <p>Agenda</p>
                </a>
            </li>
            <li>
                <a routerLinkActive="activate" routerLink="/home/cliente">
                    <span id="cliente"></span>
                    <p>Cliente</p>
                </a>
            </li>
            <!-- <li>
                <a routerLinkActive="activate" routerLink="/home/configuracion">
                    <span id="configuracion"></span>
                    <p>Configuración</p>
                </a>
            </li>
            <li>
                <a routerLinkActive="activate" routerLink="/home/seguridad">
                    <span id="seguridad"></span>
                    <p>Seguridad</p>
                </a>
            </li> -->
            <li>
                <a routerLinkActive="activate" routerLink="/home/reporte">
                    <span id="reporte"></span>
                    <p>Reportes</p>
                </a>
            </li>
        </ul>
    </main>
</nav>