<section>
    <div>
        <main class="diagnostico">
            <article>
                <p><strong>Diagnostico:</strong> Se diagnostico una irritacion en la parte de atras de la espalda</p>
                <div>
                    <p><strong>Fecha:</strong> 15-07-2024</p>
                    <p><strong>Inicio de enfermedad:</strong> 02-07-2024</p>
                    <p><strong>Peso:</strong> 60kg</p>
                    <p><strong>Talla:</strong> 1.80m</p>
                    <p><strong>N sesión:</strong> 10</p>
                </div>
                <p><strong>Plan de pago:</strong> por cada 3 sesiones va a pagar por el servicio</p>
                <p><strong>Observación:</strong> Se detectaron varias anomalias mientras se realizaba los estudios, asi
                    mismo, debemos mejorar en la preparación de loas sesiones que se va a programar</p>
            </article>
            <div>
                <button class="btn_edit">Editar diagnostico</button>
                <button class="btn_delete">Eliminar diagnostico</button>
            </div>
        </main>
        <app-seguimiento-pago></app-seguimiento-pago>
    </div>
    <app-sesion></app-sesion>
</section>