<article>
    <figure>
        <img src="/shared/icon-person.png" alt="icono de persona">
    </figure>
    <div>
        <h5>Alvaro Cuti Morales Mostacero</h5>
        <ul>
            <li><strong>Genero:</strong> Masculino</li>
            <li><strong>Dni:</strong> 8975720</li>
            <li><strong>Fecha nac:</strong> 17-02-2000</li>
            <li><strong>Lugar nac:</strong> Hospital de vitarte</li>
            <li><strong>Estado civil:</strong> viudo</li>
            <li><strong>Nro hijos:</strong> 4</li>
        </ul>
        <ul>
            <li class="correo">{{ 'alvaroandmoises@gmail.com' }}</li>
            <li class="telefono">999654542</li>
            <li class="dirreccion">Mz C. Lt14 La era</li>
        </ul>
        <p><strong>otros contactos</strong></p>
        <ul>
            <li><strong>Telefono 1:</strong> 999654542</li>
            <li><strong>Telefono 2:</strong> 999654542</li>
            <li><strong>Telefono 3:</strong> 999654542</li>
        </ul>
        <button class="btn_edit">Editar perfil</button>
        <button class="btn_delete">Eliminar</button>
    </div>
</article>