<article>
    <figure [classList]="persona.genero ? 'masculino' : 'femenino'">
        <img src="/shared/icon-person.png" alt="icono de persona">
    </figure>
    <div>
        <h5>{{ persona.nombre }} {{ persona.apellido }}</h5>
        <ul>
            <li><strong>Genero:</strong> {{ persona.genero ? 'Masculino' : 'Femenino' }}</li>
            <li><strong>{{ persona.tipo_documento ? 'DNI' : 'Otro' }}:</strong> {{ persona.ndoc_documento }}</li>
            <li><strong>Fecha nac:</strong> {{ limitarFechaNacimiento() }}</li>
            <li><strong>Lugar nac:</strong> {{ persona.lugar_nac }}</li>
            <li><strong>Estado civil:</strong> {{ persona.estado_civil }}</li>
            <li><strong>Nro hijos:</strong> {{ persona.n_hijos }}</li>
        </ul>
        <ul>
            @if (persona.correo) {
            <li class="correo">{{ persona.correo }}</li>
            }
            @if (persona.telefono) {
            <li class="telefono">{{ persona.telefono }}</li>
            }
            @if (persona.domicilio) {
            <li class="dirreccion">{{ persona.domicilio }}</li>
            }
            @if (persona.residencia) {
            <li class="residencia">{{ persona.residencia }}</li>
            }
            @if (persona.referencia) {
            <li class="referencia">{{ persona.referencia }}</li>
            }
        </ul>
        <p><strong>otros contactos</strong></p>
        <ul>
            @for (telefono of persona.telefonosDTO; track $index) {
            <li><strong>Telefono {{ $index + 1 }}:</strong> {{ telefono.telefono }}</li>
            }
        </ul>
        <button class="btn btn-primary text-xl" (click)="crearCliente()">Editar perfil</button>
        <button class="btn btn-outline text-xl" (click)="deletePersona()">Eliminar</button>
    </div>
</article>