<article>
    <figure>
        <img src="/shared/icon-person.png" alt="icono de persona">
    </figure>
    <summary>
        <h5>Alvaro Cuti Morales Mostacero</h5>
        <ul>
            <li class="dni"><strong>Dni:</strong> 8975720</li>
            <li class="telefono"><strong>Telefono:</strong> 999654542</li>
            <li class="correo"><strong>Correo:</strong> {{ 'alvaroandmoises@gmail.com' }}</li>
            <li class="edad"><strong>Edad:</strong> 20</li>
        </ul>
    </summary>
</article>